@import url('<link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">');
@import url('<script src="https://kit.fontawesome.com/556dcba218.js" crossorigin="anonymous"></script>');

.menu{
    position: relative;
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 14px;
    overflow: hidden;
    background-color: #333;
    color: #ffffff;
  }
  
  li {
    float: left;
    padding: 10px 10px;
  }

  .empresa{
    float: left;
    color: rgb(28, 120, 148);
    font-family:  'Lobster Two', sans-serif;
  }